@page
@model ManageIngredientModel
@{
    ViewData["Title"] = "ManageIngredient";
}
<link rel="stylesheet" href="~/css/manage-ingredient.css" asp-append-version="true" />

<div class="main__information" style="width: 70%">
	<div class="main__information-detail">
		<div class="main__information-add d-flex justify-content-end align-items-center">
			<div class="button__add"><button class="" type="submit">Thêm nguyên liệu +</button></div>
		</div>
		<div class="d-flex justify-content-between align-items-center mb-5">
			<form class="menu-sort-user" method="get">
				<label style="margin-left: 2%">Sắp xếp theo: </label>
				<select name="sortBy" class="menu-sort-user-box" id="sort-select">
					<option value="price-asc">Tăng theo giá</option>
					<option value="price-desc">Giảm theo giá</option>
					<option value="name-asc">Tăng theo tên</option>
					<option value="name-desc">Giảm theo tên</option>
				</select>
				<input name="search" value="@Model.searchText" type="hidden" />
				<input type="submit" style="visibility: hidden; width:0" />
			</form>
			<form class="menu-search-user-box" method="get">
				<input class="search-user-box-input" type="text" name="search" placeholder="Nhập tên nguyên liệu, nhà cung cấp">
				<input class="search-user-box-hidden" name="sortBy" value="@Model.sortBy" type="hidden" />
				<button type="submit" class="search-user-box-btn">
					<i class="fas fa-magnifying-glass"></i>
				</button>
			</form>
		</div>
		@{
			var pageSize = 5; // Number of rows to show per page
			var totalPages = (int)Math.Ceiling((double)Model.ingredients.Count / pageSize); // Calculate the total number of pages
			var startIndex = (Model.currentPage - 1) * pageSize; // Calculate the start index of the rows to display
			var ingredients = Model.ingredients.Skip(startIndex).Take(pageSize).ToList(); // Get the rows to display on the current page
			if (Model.currentPage < 1) Model.currentPage = 1;
			if (Model.currentPage > totalPages) Model.currentPage = totalPages;
		}

        <table class="content-table">
            <thead>
                <tr>
                    <th class="Ten_mon">Tên nguyên liệu</th>
                    <th class="Gia">Giá nhập vào</th>
                    <th class="">Nhà cung cấp</th>
                    <th class="Khoiluong">Khối lượng còn lại</th>
                    <th class="Option">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in ingredients)
                {
                    <tr>
                        <td class="ID_mon" style="display: none;">@i.IngredientID</td>
                        <td class="Ten_mon" style="padding-left: 5%;">@i.IngredientName</td>
                        <td class="Gia" style="text-align: right">@i.IngredientInputPrice.ToString("N0")VNĐ</td>
                        <td style="text-align: left">@i.PartnerName</td>
                        <td style="text-align: right; padding-right: 3%;">@i.IngreQty @i.MeasureName</td>
                        <td class="Option">
                            <i class="fas fa-eye" data-id="@i.IngredientID" title="Xem"></i>
                            @if (!i.isDeleted)
                            {
                                <i class="fas fa-pencil-alt" data-id="@i.IngredientID" onclick="showCategoryDetails('@i.IngredientID')" title="Cập nhật"></i>
                                <i class="fas fa-ban" data-id="@i.IngredientID" title="Xoá"></i>
                            }
                            else
                            {
                                <i class="fa-regular fa-square-minus"></i>
                                <i class="fa-regular fa-square-minus"></i>
                            }
                        </td>
                    </tr>
                }
                @foreach (var i in Model.ingredients)
                {
                    <tr>
                        <td class="Ten_mon_All" style="display: none;">@i.IngredientName</td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var pagingmodel = new CheeseBurger.Helpers.PagingModel()
            {
                currentPage = Model.currentPage,
                countPages = totalPages,
                generateUrl = (int? p) => Url.Page("/Admin/ManageIngredient", new { p, search = Model.searchText, Model.sortBy })
            };
        }
        <partial name="_Paging" model="@pagingmodel" />
    </div>
</div>
<!-- Modal Add -->

<form method="post" asp-page="ManageIngredient" asp-page-handler="Create" onsubmit="return validateForm(event)">
	<div class="modal__ingredient-add" id="create-form">
		<div class="modal__ingredient-information">
			<div class="button__exit d-flex justify-content-end">
				<span class="exit__surround d-flex align-items-center justify-content-center">
					<i class="fas fa-times"></i>
				</span>
			</div>
			<div class="modal__ingredient-details">
				<p class="modal__label-main">Thêm nguyên liệu</p>
				<div class="ingredient__name">
					<p class="label">Tên nguyên liệu</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" name="Name" required="required" pattern="[\p{L} ]+" title="Vui lòng chỉ nhập chữ cái có dấu hoặc không dấu và khoảng trắng">
					<span id="ingredient-error" style="color: red"></span>
				</div>
				<div class="ingredient__price-categories d-flex justify-content-between mb-3">
					<div class="ingredient__price col-6 pl-0 pr-2">
						<p class="label">Đơn vị</p>
						<div class="form__comboBoxList">
							<select name="combobox_Item" required="required">
								<option value="" selected>Tất cả</option>
								@foreach (var measureName in Model.measureName)
								{
									<option value="@measureName">@measureName</option>
								}
							</select>
						</div>
					</div>
					<div class="ingredient__categories col-6 pl-2 pr-0">
						<p class="label">Đơn giá</p>
						<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" name="Price" required="required" pattern="[0-9,.]+" title="Vui lòng chỉ nhập số và dấu chấm hoặc dấu phẩy">
					</div>
				</div>
				<div class="ingredient__name">
					<p class="label">Nhà cung cấp</p>
					<div class="form__comboBoxList ingredient__price">
						<select name="ncc" required="required">
							<option value="" selected>Tất cả</option>
							@foreach (var i in Model.partner)
							{
								<option value="@i.PartnerID">@i.PartnerName</option>
							}
						</select>
					</div>
				</div>
				<div class="button__ingredient-add">
					<button class="" type="submit" name="p">THÊM NGUYÊN LIỆU</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- End Modal Add -->
<!-- Modal Update -->
<form method="post" asp-page="ManageIngredient" onsubmit="return validateUpdateForm(event)">
    <div class="modal__ingredient-modify">
        <div class="modal__ingredient-information">
            <div class="button__exit d-flex justify-content-end">
                <span class="exit__surround d-flex align-items-center justify-content-center">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <div class="modal__ingredient-details">
                <p class="modal__label-main">Thông tin nguyên liệu</p>
                <div class="ingredient__name">
                    <p class="label">Tên nguyên liệu</p>
                    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" name="Name" required="required" pattern="[\p{L} ]+" title="Vui lòng chỉ nhập chữ cái có dấu hoặc không dấu và khoảng trắng">
                    <span id="ingredient-error-update" style="color: red"></span>
                </div>
                <div class="ingredient__price-categories d-flex justify-content-between">
                    <div class="ingredient__price col-6 mb-3 pl-0 pr-2">
                        <p class="label">Đơn vị</p>
                        <div class="form__comboBoxList">
                            <form method="post">
                                <select name="combobox_Item" required="required">
                                    @foreach (var i in Model.measureName)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="ingredient__categories col-6 mb-3 pl-2 pr-0">
                        <p class="label">Đơn giá</p>
                        <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" required="required" name="Price" pattern="[0-9,.]+" title="Vui lòng chỉ nhập số và dấu chấm hoặc dấu phẩy">
                    </div>
                </div>
                <div class="ingredient__name mb-3">
                    <p class="label">Nhà cung cấp</p>
                    <div class="form__comboBoxList ingredient__price">
                        <select name="ncc" required="required">
                            @foreach (var i in Model.partner)
                            {
                                <option value="@i.PartnerID">@i.PartnerName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="ingredient__name">
                    <p class="label">Số lượng nguyên liệu hỏng</p>
                    <div class="form__comboBoxList ingredient__price">
                        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="nlHong" pattern="[0-9,.]+" title="Vui lòng chỉ nhập số và dấu chấm hoặc dấu phẩy" />
                        <input type="hidden" name="ingre" value="" />
                        <span id="nlHong" style="color: red"></span>
                    </div>
                </div>
                <div class="button__ingredient-modify">
                    <button class="" type="button" onclick="validateUpdateForm(event, showConfirmationModal)">CẬP NHẬT NGUYÊN LIỆU</button>
                </div>
            </div>
            <input type="hidden" name="IngredientID" class="modal__ingredient-id" value="" />
            <input type="hidden" name="NguyenLieuHong" class="modal__ingredient-id" value="" />
            <input type="hidden" name="oldName" value="">
        </div>
    </div>
</form>
<!-- End Modal Update-->
<!-- Modal Read -->
<div class="modal__food-read">
    <div class="modal__read-information">
        <div class="button__exit d-flex justify-content-end">
            <span class="exit__surround d-flex align-items-center justify-content-center">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div class="categories-read">
            <div class="categories__form-edit" style="width: 35%">
                <p class="categories__text-specific">Thông tin nguyên liệu</p>
                <div class="categories__information-label d-flex align-items-start">
                    <div class="categories__information-key col-3">
                        <label for="name" class="categories__text">Tên nguyên liệu:</label>
                        <label for="id" class="categories__text">Mã nguyên liệu:</label>
                        <label for="price" class="categories__text">Giá nhập:</label>
                        <label for="unit" class="categories__text">Đơn vị:</label>
                        <label for="partner" class="categories__text">Nhà cung cấp:</label>
                    </div>
                    <div class="categories__information-element col-md-8">
                        <p class="categories__text" id="name"></p>
                        <p class="categories__text" id="id"></p>
                        <p class="categories__text" id="price"></p>
                        <p class="categories__text" id="unit"></p>
                        <p class="categories__text" id="partner"></p>
                    </div>
                </div>
            </div>
            <button class="submit-btn exit-btn" type="submit">OK</button>
        </div>
    </div>
</div>
<!-- End Modal Read -->
<!-- Modal Delete -->
<!-- Modal -->
<form method="post" asp-page="ManageIngredient" asp-page-handler="Delete">
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="confirm-label"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center wirningColor">
                        <i class="fas fa-exclamation-triangle fa-4x"></i>
                    </div>
                    <br />
                    <center>
                        <p class="message"></p>
                        <input type="hidden" name="IngredientID" class="modal__ingredient-id" value="" />
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger dismiss" data-dismiss="modal"></button>
                    <button type="submit" class="btn btn-primary confirm"></button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post" asp-page="ManageIngredient" asp-page-handler="Update">
    <div class="modal fade" id="confirmUpdate" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="confirm-label"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center wirningColor">
                        <i class="fas fa-exclamation-triangle fa-4x"></i>
                    </div>
                    <br />
                    <center>
                        <p class="message"></p>
                        <input type="hidden" name="IngredientID" class="modal__ingredient-id" value="" />
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger dismiss" data-dismiss="modal"></button>
                    <button type="submit" class="btn btn-primary confirm"></button>
                </div>
                <input type="hidden" name="IngredientID" class="modal__ingredient-id" value="" />
                <input type="hidden" name="Name" class="modal__ingredient-id" value="" />
                <input type="hidden" name="combobox_Item" class="modal__ingredient-id" value="" />
                <input type="hidden" name="oldName" value="">
                <input type="hidden" name="Price" value="">
                <input type="hidden" name="ncc" value="">
                <input type="hidden" name="nlHong" value="">
            </div>
        </div>
    </div>
</form>
<!-- End Modal Delete -->
<script src="~/js/manage-ingredient.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type="text/javascript">
    $('.fa-eye').on('click', function () {
        var id = $(this).data('id');
        $.ajax({
            type: 'GET',
            data: { id: id },
            url: '@Url.Page("ManageIngredient", "Find")',
            success: function (result) {
                console.log(result);
                $('.modal__food-read #name').text(result.ingredientName); // Cập nhật tên nguyên liệu
                $('.modal__food-read #id').text("#" + result.ingredientID); // Cập nhật mã
                $('.modal__food-read #price').text(result.ingredientInputPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })); // Cập nhật đơn giá
                $('.modal__food-read #unit').text(result.measureName); // Cập nhật đơn giá
                $('.modal__food-read #partner').text(result.partnerName); // Cập nhật đơn giá
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error loading ingredient: ' + errorThrown);
            }
        });
    });
    $('.fa-pencil-alt').on('click', function () {
        var id = $(this).data('id');
        $.ajax({
            type: 'GET',
            data: { id: id },
            url: '@Url.Page("ManageIngredient", "Find")',
            success: function (result) {
                $('.modal__ingredient-modify input[name="IngredientID"]').val(result.ingredientID); // Lưu trữ ID vào trường ẩn
                $('#confirmUpdate input[name="IngredientID"]').val(result.ingredientID); // Lưu trữ ID vào trường ẩn
                $('.modal__ingredient-modify input[name="Name"]').val(result.ingredientName); // Cập nhật tên nguyên liệu
                $('#confirmUpdate input[name="Name"]').val(result.ingredientName);
                $('.modal__ingredient-modify input[name="Price"]').val(result.ingredientInputPrice); // Cập nhật đơn giá
                $('#confirmUpdate input[name="Price"]').val(result.ingredientInputPrice);
                $('.modal__ingredient-modify input[name="oldName"]').val(result.ingredientName);
                $('.modal__ingredient-modify input[name="ncc"]').val(result.partnerName);
                $('#confirmUpdate input[name="ncc"]').val(result.partnerName);
                $('.modal__ingredient-modify input[name="ingre"]').val(result.ingreQty);
                $('#confirmUpdate input[name="ingre"]').val(result.ingreQty);
                $(".ingredient__price-categories select[name='combobox_Item']").val(result.measureName);
                $('#confirmUpdate input[name="combobox_Item"]').val(result.measureName);
                $('.modal__ingredient-modify input[name="nlHong"]').val('');
                $('#nlHong').text('');
                $('#ingredient-error-update').text('');
                // Mở modal ở đây
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error loading ingredient: ' + errorThrown);
            }
        });
    });
</script>
<script>
    $(function () {
        (function ($) {
            $.fn.confirm = function (options) {
                var settings = $.extend({}, $.fn.confirm.defaults, options);

                return this.each(function () {
                    var element = this;
                    $('.modal-title', this).html(settings.title);
                    $('.message', this).html(settings.message);
                    $('.confirm', this).html(settings.confirm);
                    $('.dismiss', this).html(settings.dismiss);

                    $(this).on('click', '.confirm', function (event) {
                        $(element).data('confirm', true);
                    });

                    $(this).on('hide.bs.modal', function (event) {
                        if ($(this).data('confirm')) {
                            $(this).trigger('confirm', event);
                            $(this).removeData('confirm');
                        } else {
                            $(this).trigger('dismiss', event);
                        }

                        $(this).off('confirm dismiss');
                    });

                    $(this).modal('show');
                });
            };

            $.fn.confirm.defaults = {
                title: 'Modal title',
                message: 'One fine body&hellip;',
                confirm: 'OK',
                dismiss: 'Cancel'
            };
        })(jQuery);
    });
    $(".fa-ban").click(function () {
        var id = $(this).data('id');
        $.ajax({
            type: 'GET',
            data: { id: id },
            url: '@Url.Page("ManageIngredient", "Find")',
            success: function (result) {
                $('#confirm input[name="IngredientID"]').val(result.ingredientIDy); // Lưu trữ ID vào trường ẩn
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error loading ingredient: ' + errorThrown);
            }
        });
        $('#confirm').confirm({
            title: 'Xác nhận xóa',
            message: 'Bạn có chắc chắn muốn xóa nguyên liệu này không?',
            confirm: 'Xác nhận',
            dismiss: 'Hủy bỏ'
        });
    });
</script>
<script>
    function showCategoryDetails(id) {
        // Lấy thông tin hàng được chọn
        var row = $('td.ID_mon').filter(function () {
            return $(this).text() == id;
        }).closest('tr');
        var wholeName = row.find('td.Number_mon').text().trim();
        var subString = wholeName.split(" ");
        var measureName = subString[1];
        // Đổ thông tin vào form
        var select = $('.modal__ingredient-modify select[name="combobox_Item"]');
        select.find('option').each(function () {
            $(this).prop('selected', $(this).text().indexOf(measureName) > -1);
        });
        var select = $('.modal__ingredient-modify select[name="ncc"]');
        select.find('option').each(function () {
            $(this).prop('selected', $(this).text().indexOf(measureName) > -1);
        });
    }
</script>
<script>
    function validateForm(event) {
        var newIngredientName = $('input[name="Name"]').val().trim().toUpperCase().replace(/\s+/g, ' ');
        var ingredientNames = []; // Khởi tạo một mảng rỗng để lưu các tên nguyên liệu

        $('td.Ten_mon_All').each(function () {
            var ingredientName = $(this).text().trim().toUpperCase().replace(/\s+/g, ' '); // Lấy nội dung của phần tử td hiện tại và loại bỏ khoảng trắng thừa
            ingredientNames.push(ingredientName); // Thêm tên nguyên liệu vào mảng
        });

        // Kiểm tra xem tên nguyên liệu mới có trong mảng tên nguyên liệu hay không
        if (ingredientNames.some(function (name) { return name === newIngredientName })) {
            // Hiển thị thông báo lỗi
            $('#ingredient-error').text('Đã tồn tại tên nguyên liệu. Vui lòng nhập lại!');

            // Ngăn chặn việc submit form khi có lỗi
            event.preventDefault();
            return false;
        }
        // Nếu không có lỗi, ẩn thông báo lỗi
        $('#ingredient-error').text('');
    }
</script>
<script>
    function validateUpdateForm(event, callback) {
        var newIngredientName = $('.modal__ingredient-modify input[name="Name"]').val().trim().toUpperCase().replace(/\s+/g, ' ');
        var ingredientNames = [];
        var oldName = $('.modal__ingredient-modify input[name="oldName"]').val().toUpperCase().replace(/\s+/g, ' ');
        $('td.Ten_mon_All').each(function () {
            var ingredientName = $(this).text().trim().toUpperCase().replace(/\s+/g, ' ');
            ingredientNames.push(ingredientName);
        });

        if (newIngredientName !== oldName && ingredientNames.includes(newIngredientName)) {
            $('#ingredient-error-update').text('Đã tồn tại tên nguyên liệu. Vui lòng nhập lại!');
            event.preventDefault();
            return false;
        }

        $('#ingredient-error-update').text('');

        var ingreQty = parseFloat($('.modal__ingredient-modify input[name="ingre"]').val());
        var nlHong = parseFloat($('.modal__ingredient-modify input[name="nlHong"]').val());
        var unit = $('.modal__food-read #unit').val();

        if (ingreQty < nlHong) {
            $('#nlHong').text('Kho chỉ còn ' + ingreQty + ' ' + unit + ' nguyên liệu. Vui lòng nhập đúng khối lượng hỏng');
            event.preventDefault();
            return false;
        }

        if (typeof callback === 'function') {
            callback();
        }
    }

    $('input[name="nlHong"]').on('keyup', function () {
        var nlHongValue = $(this).val();
        $('.modal__ingredient-modify input[name="NguyenLieuHong"]').val(nlHongValue);
    });

    function showConfirmationModal() {
        var nlHongValue = $('.modal__ingredient-modify input[name="NguyenLieuHong"]').val();
        $('#confirmUpdate input[name="nlHong"]').val(nlHongValue);
        $('#confirmUpdate').modal('show');
        $('#confirmUpdate').confirm({
            title: 'Xác nhận cập nhật',
            message: 'Bạn có chắc chắn muốn cập nhật nguyên liệu này không?',
            confirm: 'Xác nhận',
            dismiss: 'Hủy bỏ'
        });
    }

    $('.confirm-button').on('click', function () {
        showConfirmationModal();
    });
    
</script>


