@page
@model ManageUserModel
@{
	ViewData["Title"] = "ManageUser";
}
<link rel="stylesheet" href="~/css/manage-user.css" asp-append-version="true" />

@{
	int CntCus = 0;
}

<div class="main__information">
	<div class="main__information-detail">
		<div class="d-flex justify-content-between align-items-center mb-5">
			<form class="menu-sort-user" method="get">
				<label style="margin-left: 2%">Sắp xếp theo: </label>
				<select name="sortBy" class="menu-sort-user-box" id="sort-select">
					<option value="name-asc">Tăng theo tên</option>
					<option value="name-desc">Giảm theo tên</option>
				</select>
				<input name="search" value="@Model.searchText" type="hidden" />
				<input type="submit" style="visibility: hidden; width:0" />
			</form>
			<form class="menu-search-user-box" method="get">
				<input class="search-user-box-input" type="text" name="search" placeholder="Nhập tên cần tìm">
				<input class="search-user-box-hidden" name="sortBy" value="@Model.sortBy" type="hidden" />
				<button type="submit" class="search-user-box-btn">
					<i class="fas fa-magnifying-glass"></i>
				</button>
			</form>
		</div>
		@{
			var pageSize = 5; // Number of rows to show per page
			var totalPages = (int)Math.Ceiling((double)Model.customers.Count / pageSize); // Calculate the total number of pages
			var startIndex = (Model.currentPage - 1) * pageSize; // Calculate the start index of the rows to display
			var customers = Model.customers.Skip(startIndex).Take(pageSize).ToList(); // Get the rows to display on the current page
			if (Model.currentPage < 1) Model.currentPage = 1;
			if (Model.currentPage > totalPages) Model.currentPage = totalPages;
		}
		<table class="content-table">
			<thead>
				<tr class="tr">
					<th class="STT col-1">STT</th>
					<th class="ID col-2">Mã KH</th>
					<th class="Name col-3">Họ và tên</th>
					<th class="Email col-3">Email</th>
					<th class="Option__eye col-1">Xem</th>
					<th class="Option__pencil col-1">Sửa</th>
					<th class="Option__ban col-1">Xoá</th>
				</tr>
			</thead>
			<tbody>			
				@foreach (var customer in customers)
				{					
					@if (customer.CusIsStaff == false && customer.CusIsDeleted == false)
					{
						<tr class="tr">
							<td class="STT">@(++CntCus)</td>
							<td class="ID">@(100 + @customer.CusID)</td>
							<td class="Name">@customer.CusName</td>
							<td class="Email">@customer.CusEmail</td>
							<td class="Option__eye" data-id="@customer.CusID"> <i class="fas fa-eye"></i></td>
							<td class="Option__pencil" data-id="@customer.CusID"> <i class="fas fa-pencil-alt"></i></td>
							<td class="Option__ban" data-id="@customer.CusID">  <i class="fas fa-ban"></i></td>
						</tr>
					}
				}				
			</tbody>
		</table>
		@{
			var pagingmodel = new CheeseBurger.Helpers.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = totalPages,
				generateUrl = (int? p) => Url.Page("/Admin/ManageUser", new { p })
			};
		}
		<partial name="_Paging" model="@pagingmodel" />
	</div>
</div>
<!-- Update staff -->
<form method="post" asp-page="ManageUser" asp-page-handler="Update">
	<div class="modal__account-update">
		<div class="modal__account-information">
			<div class="button__exit">
				<div class="exit__surround">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="modal__account-details">		
				<div class="modal__account-label d-flex align-items-center">
					<p class="modal__label-cate">Cập nhật tài khoản</p>
					<p class="modal__label-main" id="name"></p>
				</div>
				<div class="account__name">
					<p class="label_control">Họ và tên</p>
					<input class="form-control mr-sm-2" type="search" aria-label="Search" name="Name" required="required" readonly="readonly">
				</div>
				<div class="account__position-categories d-flex justify-content-between">
					<div class="account__position col-12">
						<p class="label_control">Chức vụ</p>
						<div class="form__comboBoxList" style="font-size: 20px">
							<form method="post">
								<select name="combobox_Item" required="required" style="border-radius: 3px">
									<option value="Khách hàng" selected>Khách hàng</option>
									<option value="Quản trị viên">Quản trị viên</option>
									<option value="Nhân viên đầu bếp">Nhân viên đầu bếp</option>
									<option value="Nhân viên giao hàng">Nhân viên giao hàng</option>
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="account__email-telephone d-flex justify-content-between">
					<div class="account__email col-6">
						<p class="label_control">Địa chỉ email</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="Email" required="required" readonly="readonly">
					</div>
					<div class="account__telephone col-6">
						<p class="label_control">Số điện thoại</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="Phone" required="required" readonly="readonly">
					</div>
				</div>
				<div class="account__city-district d-flex justify-content-between">
					<div class="account__city-details col-6">
						<p class="label_control">Tỉnh (thành phố)</p>
						<input class="form-control mr-sm-2" type="search" value="Đà Nẵng" readonly="readonly">
					</div>
					<div class="account__district-details col-6">
						<p class="label_control">Quận (huyện)</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="District" required="required" readonly="readonly">						
					</div>
				</div>
				<div class="account__ward-address d-flex justify-content-between">
					<div class="account__ward col-6">
						<p class="label_control">Phường (xã)</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="Ward" required="required" readonly="readonly">						
					</div>
					<div class="account__adress col-6">
						<p class="label_control">Số nhà</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="HouseNum" required="required" readonly="readonly">
					</div>
				</div>
				<div class="button__account-save">					
					<button class="" type="submit">Cập nhật thông tin tài khoản</button>
				</div>				
			</div>
			<input type="hidden" name="CusID" class="modal__customer-id" value="" />
		</div>
	</div>
</form>
<!-- End Update staff -->
<!-- Full Information -->
<form method="post" asp-page="ManageUser">
	<div class="modal__info-full">
		<div class="modal__info-details">
			<div class="button__exit d-flex justify-content-end">
				<div class="exit__surround">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="modal__staff-details">
				<p class="modal__label-main">
					<input name="CusID" type="hidden" />
					<div class="modal__staff-label d-flex align-items-center">
						<p class="modal__label-cate">Chi tiết tài khoản</p>
						<p class="modal__label-main" id="name"></p>
					</div>
				</p>
				<div class="staff__info-full d-flex">
					<div class="staff__info-key col-3">
						<p class="categories__text" for="id">Mã người dùng:</p>
						<p class="categories__text" for="name">Họ và tên:</p>
						<p class="categories__text" for="gender">Giới tính:</p>
						<p class="categories__text" for="phone">Số điện thoại:</p>
						<p class="categories__text" for="email">Email:</p>
						<p class="categories__text" for="address">Địa chỉ:</p>
					</div>
					<div class="staff__info-value col-9">
						<p class="categories__text" id="id"></p>
						<p class="categories__text" id="name"></p>
						<p class="categories__text" id="gender"></p>
						<p class="categories__text" id="phone"></p>
						<p class="categories__text" id="email"></p>
						<p class="categories__text" id="address"></p>
					</div>
				</div>					
			</div>			
		</div>
	</div>
</form>
<!-- End Full Information -->
<!-- Modal Delete -->
<form method="post" asp-page="ManageUser" asp-page-handler="Delete">
	<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="confirm-label"></h4>
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

				</div>
				<div class="modal-body">
					<div class="text-center wirningColor">
						<i class="fas fa-exclamation-triangle fa-4x"></i>
					</div>
					<br />
					<center>
						<p class="message"></p>
						<input type="hidden" name="CusID" class="modal__customer-id" value="" />
					</center>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger dismiss" data-dismiss="modal"></button>
					<button type="submit" class="btn btn-primary confirm"></button>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- End Modal Delete -->
<script src="~/js/manage-user.js"></script>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.Option__eye').on('click', function() {
			var id = $(this).data('id');
			$.ajax({
				type: 'GET',
				data: {id: id},
				url: '@Url.Page("ManageUser", "Find")',
				success: function (result) {					
					$('.modal__info-full #id').text(result.id + 100);
					$('.modal__info-full #name').text(result.name);
					$('.modal__info-full #gender').text(result.gender ? "Nam" : "Nữ");					
					$('.modal__info-full #phone').text(result.phone);			
					$('.modal__info-full #email').text(result.email);
					$('.modal__info-full #address').text(result.address);
				},
				error: function (xhr, textStatus, errorThrown) {
					alert('Error loading ingredient: ' + errorThrown);
				}
			});
		});

		$('.Option__pencil').on('click', function () {
			var id = $(this).data('id');
			$.ajax({
				type: 'GET',
				data: { id: id },
				url: '@Url.Page("ManageUser", "Find")',
				success: function (result) {									
					$('.modal__account-update #name').text(result.name);
					$('.modal__account-update input[name="CusID"]').val(result.id);
					$('.modal__account-update input[name="Name"]').val(result.name);
					$('.modal__account-update input[name="Email"]').val(result.email);
					$('.modal__account-update input[name="Phone"]').val(result.phone);
					$('.modal__account-update input[name="District"]').val(result.diss);
					$('.modal__account-update input[name="Ward"]').val(result.wrdd);
					$('.modal__account-update input[name="HouseNum"]').val(result.housenum);
				},
				error: function (xhr, textStatus, errorThrown) {
					alert('Error loading ingredient: ' + errorThrown);
				}
			});
		});
	});
</script>

<script>
	$(function () {
		(function ($) {
			$.fn.confirm = function (options) {
				var settings = $.extend({}, $.fn.confirm.defaults, options);

				return this.each(function () {
					var element = this;
					$('.modal-title', this).html(settings.title);
					$('.message', this).html(settings.message);
					$('.confirm', this).html(settings.confirm);
					$('.dismiss', this).html(settings.dismiss);

					$(this).on('click', '.confirm', function (event) {
						$(element).data('confirm', true);
					});

					$(this).on('hide.bs.modal', function (event) {
						if ($(this).data('confirm')) {
							$(this).trigger('confirm', event);
							$(this).removeData('confirm');
						} else {
							$(this).trigger('dismiss', event);
						}

						$(this).off('confirm dismiss');
					});

					$(this).modal('show');
				});
			};

			$.fn.confirm.defaults = {
				title: 'Modal title',
				message: 'One fine body&hellip;',
				confirm: 'OK',
				dismiss: 'Cancel'
			};
		})(jQuery);
	});
	$(".Option__ban").click(function () {
		var id = $(this).data('id');
		$.ajax({
			type: 'GET',
			data: { id: id },
			url: '@Url.Page("ManageUser", "Find")',
			success: function (result) {
				$('#confirm input[name="CusID"]').val(result.id); // Lưu trữ ID vào trường ẩn
			},
			error: function (xhr, textStatus, errorThrown) {
				alert('Error loading ingredient: ' + errorThrown);
			}
		});
		$('#confirm').confirm({
			title: 'Xác nhận xóa',
			message: 'Bạn có muốn xóa khách hàng này không?',
			confirm: 'Delete',
			dismiss: 'Cancel'
		});
	});
</script>
