@page
@model ManageFoodModel
@{
	ViewData["Title"] = "ManageFood";
}
<link rel="stylesheet" href="~/css/manage-ingredient.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/manage-food.css" asp-append-version="true" />

<div class="main__information">
	<div class="main__information-detail">
		<div class="main__information-add d-flex justify-content-end align-items-center">
			<div class="button__add"><button class="" type="submit">Thêm món ăn +</button></div>
		</div>
		<div class="main__table-form">
			<div class="col-md-3 pl-0">
				<div class="form-group">
					<label class="control-label">Danh mục: </label>
					<div class="form__comboBox">
						<form class="menu-sort-staff-role" method="get">
							<select name="roleBy" class="menu-sort-staff-role-box" id="role-select">
								<option value="All" selected>Tất cả</option>
								@foreach (var categoryName in Model.categoryNames)
								{
									<option value="@categoryName">@categoryName</option>
								}
							</select>
							<input name="sortBy" value="@Model.sortBy" type="hidden" />
							<input name="search" value="@Model.searchText" type="hidden" />
							<input type="submit" style="visibility: hidden; width:0" />
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Sắp xếp: </label>
					<div class="form__comboBox">
						<form class="menu-sort-staff" method="get">
							<select name="sortBy" class="menu-sort-staff-box" id="sort-select">
								<option value="name-asc">Tất cả</option>
								<option value="name-asc" selected>Tên từ A-Z</option>
								<option value="name-desc">Tên từ Z-A</option>
							</select>
							<input name="roleBy" value="@Model.roleBy" type="hidden" />
							<input name="search" value="@Model.searchText" type="hidden" />
							<input type="submit" style="visibility: hidden; width:0" />
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 pr-0 mr-0 d-flex justify-content-end">
				<div class="form-group">
					<label class="control-label"></label>
					<div class="search__form">
						<form class="form-inline my-2 my-lg-0" method="get">
							<div class="input-wrapper">
								<input class="form-control" type="search" name="search" placeholder="Tìm kiếm tên sản phẩm" aria-label="Search">
								<input class="search-staff-box-hidden" name="sortBy" value="@Model.sortBy" type="hidden" />
								<input class="search-staff-box-hidden" name="roleBy" value="@Model.roleBy" type="hidden" />
								<button type="submit" class="search-staff-box-btn">
									<i class="fas fa-search fa-search-edit "></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		@{
			var pageSize = 5; // Number of rows to show per page
			var totalPages = (int)Math.Ceiling((double)Model.foods.Count / pageSize); // Calculate the total number of pages
			var startIndex = (Model.currentPage - 1) * pageSize; // Calculate the start index of the rows to display
			var foods = Model.foods.Skip(startIndex).Take(pageSize).ToList(); // Get the rows to display on the current page
			if (Model.currentPage < 1) Model.currentPage = 1;
			if (Model.currentPage > totalPages) Model.currentPage = totalPages;
		}
		<table class="content-table">
			<thead>
				<tr>
					<th class="ID_mon col-2">Mã món ăn</th>
					<th class="Ten_mon col-3">Tên món ăn</th>
					<th class="Danh_muc col-2">Danh mục</th>
					<th class="Gia_ban col-2">Giá bán</th>
					<th class="Option col-2">Tùy chọn</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var i in foods)
				{
					<tr>
						<td class="ID_mon">@i.FoodID</td>
						<td class="Ten_mon">@i.FoodName</td>
						<td class="Danh_muc">@i.CategoryName</td>
						<td class="Trang_thai">@i.FoodInputPrice.ToString("N0")đ</td>
						<td class="Option">
							<i class="fas fa-eye" data-id="@i.FoodID" onclick="showFoodDetails(@i.FoodID)"></i>
							@if (!i.isDeleted)
							{
								<i class="fas fa-pencil-alt" data-id="@i.FoodID" onclick="showFoodDetails(@i.FoodID)"></i>
								<i class="fas fa-ban" data-id="@i.FoodID"></i>
							}
							else
							{
								<i class="fa-solid fa-rotate" data-id="@i.FoodID"></i>
								<i class="fa-regular fa-square-minus"></i>
							}
						</td>
					</tr>
				}
				@foreach (var i in Model.foodinclude)
				{
					<tr>
						<td class="Ten_Food_All" style="display:none">@i.FoodName</td>
					</tr>
				}
			</tbody>
		</table>
		@{
			var pagingmodel = new CheeseBurger.Helpers.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = totalPages,
				generateUrl = (int? p) => Url.Page("/Admin/ManageFood", new { p, Model.searchText, Model.sortBy, Model.roleBy })
			};
		}
		<partial name="_Paging" model="@pagingmodel" />
	</div>
</div>
<!-- Modal Add -->
<form method="post" enctype="multipart/form-data" asp-page-handler="Create" onsubmit="return validateForm(event)">
	<div class="modal__food-add">
		<div class="modal__food-information">
			<div class="button__exit d-flex justify-content-end">
				<span class="exit__surround d-flex align-items-center justify-content-center">
					<i class="fas fa-times"></i>
				</span>
			</div>
			<div class="modal__food-details">
				<p class="modal__label-main">THÊM MÓN ĂN</p>
				<div class="food__name">
					<p class="label">Tên món ăn</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" name="Name" required="required" pattern="[\p{L} ]+" title="Vui lòng chỉ nhập chữ cái có dấu hoặc không dấu và khoảng trắng">
					<span id="food-error" style="color: red"></span>
				</div>
				<div class="food__price-categories d-flex justify-content-between">
					<div class="food__price col-12 pr-0">
						<p class="label">Danh mục</p>
						<div class="form__comboBoxList">
							<select name="combobox_Item" required>
								<option value="" selected>Tất cả</option>
								@foreach (var i in Model.categoryNames)
								{
									<option value="@i">@i</option>
								}
							</select>
						</div>
					</div>
				</div>
				<div class="food__description">
					<p class="label">Mô tả</p>
					<input class="form-control mr-sm-2" placeholder="" name="Describe" required="required" pattern="[\p{L} ]+" title="Vui lòng chỉ nhập chữ cái có dấu hoặc không dấu và khoảng trắng">
				</div>
				<div class="file__image d-flex align-items-center">
					<p class="image__text">Hình ảnh</p>
					<input type="file" class="form-control-file" id="image" name="fileupload" accept=".jpg,.jpeg,.png" required>
				</div>
				<div class="button__food-add">
					<button class="" type="submit">Thêm món ăn</button>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- Modal Update -->
<form method="post" enctype="multipart/form-data" asp-page-handler="Update">
	<div class="modal__ingredient-modify">
		<div class="modal__ingredient-information">
			<div class="button__exit d-flex justify-content-end">
				<span class="exit__surround d-flex align-items-center justify-content-center">
					<i class="fas fa-times"></i>
				</span>
			</div>
			<div class="modal__ingredient-details">
				<p class="modal__label-main">Cập nhật món ăn</p>
				<div class="ingredient__name">
					<p class="label">Tên món ăn</p>
					<input class="form-control" type="search" placeholder="" aria-label="Search" name="Name" required="required" pattern="[\p{L} ]+" title="Vui lòng chỉ nhập chữ cái có dấu hoặc không dấu và khoảng trắng">
				</div>
				<div class="ingredient__price-categories">
					<div class="ingredient__categories col-12 pr-0 pl-0">
						<p class="label">Danh mục</p>
						<div class="form__comboBoxList">
							<select name="combobox_Item" required>
								@foreach (var i in Model.categoryNames)
								{
									<option value="@i">@i</option>
								}
							</select>
						</div>
					</div>
				</div>
				<div class="ingredient__price-categories d-flex justify-content-between">
					<div class="ingredient__categories col-6 pl-0 pr-2">
						<p class="label">Lợi nhuận (%)</p>
						<div class="form__comboBoxList">
							<select name="profit_price" required>
								<option value="0" selected>0%</option>
								<option value="3" selected>3%</option>
								<option value="3" selected>5%</option>
								<option value="8" selected>8%</option>
							</select>
						</div>
					</div>
					<div class="ingredient__price col-6 pr-0 pl-2">
						<p class="label">Giá vốn</p>
						<input class="form-control mr-sm-2" type="search" placeholder="" name="Price" readonly>
					</div>
				</div>
				<div class="food__description">
					<p class="label">Mô tả</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" name="Describe" required="required">
				</div>
				<div class="file__image d-flex align-items-center">
					<p class="image__text">Hình ảnh:</p>
					<input type="file" name="fileupload" id="fileupload" accept=".jpg,.jpeg,.png" required>
				</div>
				<div class="button__ingredient-modify">
					<button class="" type="submit">Cập nhật món ăn</button>
				</div>
				<input type="hidden" name="FoodID" value="" />
			</div>
		</div>
	</div>
</form>
<!-- End Modal Update-->
<!-- Modal Read -->
<div class="modal__food-read">
	<div class="modal__read-information" style="width: 35%">
		<div class="button__exit d-flex justify-content-end">
			<span class="exit__surround d-flex align-items-center justify-content-center">
				<i class="fas fa-times"></i>
			</span>
		</div>
		<div class="categories-read">
			<div class="categories__form-edit">
				<p class="categories__text-specific">Thông tin món ăn</p>
				<div class="food-line d-flex">
					<label for="image" class="categories__text col-md-4 pl-0">Hình ảnh:</label>
					<img class="food-img col-8" style="border: 8px;" id="image" />
				</div>
				<div class="food-line d-flex">
					<label for="name" class="categories__text col-md-4 pl-0">Tên món ăn:</label>
					<p class="categories__text col-8" id="name"></p>
				</div>
				<div class="food-line d-flex">
					<label for="cate" class="categories__text col-md-4 pl-0">Danh mục:</label>
					<p class="categories__text col-8" id="cate"></p>
				</div>
				<div class="food-line d-flex">
					<label for="price" class="categories__text col-md-4 pl-0">Giá bán:</label>
					<p class="categories__text col-8" id="price"></p>
				</div>
				<div class="food-line d-flex">
					<label for="description" class="categories__text col-md-4 pl-0">Mô tả:</label>
					<p class="categories__text col-8" id="description"></p>
				</div>
				<button class="submit-btn exit-btn" type="submit">OK</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal Read -->
<!-- Modal Delete -->
<!-- Modal -->
<form method="post" asp-page="ManageFood" asp-page-handler="Delete">
	<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="confirm-label"></h4>
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

				</div>
				<div class="modal-body">
					<div class="text-center wirningColor">
						<i class="fas fa-exclamation-triangle fa-4x"></i>
					</div>
					<br />
					<center>
						<p class="message"></p>
						<input type="hidden" name="FoodId" class="modal__food-id" value="" />
					</center>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger dismiss" data-dismiss="modal"></button>
					<button type="submit" class="btn btn-primary confirm"></button>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- End Modal Delete -->
<!-- Modal -->
<form method="post" asp-page="ManageFood" asp-page-handler="Recycle">
	<div class="modal fade" id="recycle" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title_1" id="confirm-label"></h4>
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</div>
				<div class="modal-body">
					<div class="text-center wirningColor">
						<i class="fas fa-exclamation-triangle fa-4x"></i>
					</div>
					<br />
					<center>
						<p class="message"></p>
						<input type="hidden" name="FoodId" class="modal__food-id" value="" />
					</center>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger dismiss" data-dismiss="modal"></button>
					<button type="submit" class="btn btn-primary confirm"></button>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- End Modal Recycle -->
<script src="~/js/manage-food.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
	$('.fa-eye').on('click', function () {
		var id = $(this).data('id');
		$.ajax({
			type: 'GET',
			data: { id: id },
			url: '@Url.Page("ManageFood", "Find")',
			success: function (result) {
				var imageSrc = result.imageFood;
				if (!imageSrc.startsWith("http")) {
					imageSrc = "/img/" + imageSrc;
				}
				$('.modal__food-read #image').attr('src', imageSrc);
				$('.modal__food-read #name').text(result.foodName); // Cập nhật tên nguyên liệu
				$('.modal__food-read #price').text(result.price + " VNĐ"); // Cập nhật đơn giá
				$('.modal__food-read #description').text(result.description);
			},
			error: function (xhr, textStatus, errorThrown) {
				alert('Error loading ingredient: ' + errorThrown);
			}
		});
	});
	$('.fa-pencil-alt').on('click', function () {
		var id = $(this).data('id');
		$.ajax({
			type: 'GET',
			data: { id: id },
			url: '@Url.Page("ManageFood", "Find")',
			success: function (result) {
				// Set giá trị của input fileupload khi nhận được giá trị imageFood
				$('.modal__ingredient-modify input[name="FoodID"]').val(result.foodID); // Save ID to hidden input
				$('.modal__ingredient-modify input[name="Name"]').val(result.foodName); // Update category name
				$('.modal__ingredient-modify input[name="Price"]').val(result.tempPrice);
				$('.modal__ingredient-modify input[name="Describe"]').val(result.description);
				$('.modal__ingredient-modify select[name="profit_price"]').val(result.profitPercent);
				$('.modal__ingredient-modify').show(); // Show the modal window

			},
			error: function (xhr, textStatus, errorThrown) {
				alert('Error loading categories: ' + errorThrown);
			}
		});
	});
	function showFoodDetails(id) {
		// Lấy thông tin hàng được chọn
		var row = $('td.ID_mon').filter(function () {
			return $(this).text() == id;
		}).closest('tr');
		var categoryName = row.find('td.Danh_muc').text();
		// Đổ thông tin vào form
		$('#cate').text(categoryName);
		var select = $('.modal__ingredient-modify select[name="combobox_Item"]');
		select.val(categoryName);
		select.find('option').each(function () {
			$(this).prop('selected', $(this).val() == categoryName);
		});
	}
</script>
<script>
	$(function () {
		(function ($) {
			$.fn.confirm = function (options) {
				var settings = $.extend({}, $.fn.confirm.defaults, options);
				return this.each(function () {
					var element = this;
					$('.modal-title', this).html(settings.title);
					$('.message', this).html(settings.message);
					$('.confirm', this).html(settings.confirm);
					$('.dismiss', this).html(settings.dismiss);

					$(this).on('click', '.confirm', function (event) {
						$(element).data('confirm', true);
					});

					$(this).on('hide.bs.modal', function (event) {
						if ($(this).data('confirm')) {
							$(this).trigger('confirm', event);
							$(this).removeData('confirm');
						} else {
							$(this).trigger('dismiss', event);
						}

						$(this).off('confirm dismiss');
					});

					$(this).modal('show');
				});
			};

			$.fn.confirm.defaults = {
				title: 'Modal title',
				message: 'One fine body&hellip;',
				confirm: 'OK',
				dismiss: 'Cancel'
			};
		})(jQuery);
	});
	$(".fa-ban").click(function () {
		var id = $(this).data('id');
		$.ajax({
			type: 'GET',
			data: { id: id },
			url: '@Url.Page("ManageFood", "Find")',
			success: function (result) {
				if (result) {
					$('#confirm input[name="FoodId"]').val(result.foodID);
					$('#confirm').confirm({
						title: 'confirmation',
						message: 'Bạn có muốn xóa món ăn này không?',
						confirm: 'Delete',
						dismiss: 'Cancel'
					});
				} else {
					alert('Error: Food not found with ID ' + id);
				}
			},
			error: function (xhr, textStatus, errorThrown) {
				alert('Error loading food: ' + errorThrown);
			}
		});
	});
</script>
<script>
	$(function () {
		(function ($) {
			$.fn.confirm = function (options) {
				var settings = $.extend({}, $.fn.confirm.defaults, options);
				return this.each(function () {
					var element = this;
					$('.modal-title', this).html(settings.title);
					$('.message', this).html(settings.message);
					$('.confirm', this).html(settings.confirm);
					$('.dismiss', this).html(settings.dismiss);

					$(this).on('click', '.confirm', function (event) {
						$(element).data('confirm', true);
					});

					$(this).on('hide.bs.modal', function (event) {
						if ($(this).data('confirm')) {
							$(this).trigger('confirm', event);
							$(this).removeData('confirm');
						} else {
							$(this).trigger('dismiss', event);
						}

						$(this).off('confirm dismiss');
					});

					$(this).modal('show');
				});
			};

			$.fn.confirm.defaults = {
				title: 'Modal title',
				message: 'One fine body&hellip;',
				confirm: 'OK',
				dismiss: 'Cancel'
			};
		})(jQuery);
	});
	$(".fa-rotate").click(function () {
		var id = $(this).data('id');
		$.ajax({
			type: 'GET',
			data: { id: id },
			url: '@Url.Page("ManageFood", "Find")',
			success: function (result) {
				if (result) {
					$('#recycle input[name="FoodId"]').val(result.foodID);
					$('#recycle').confirm({
						title: 'confirmation',
						message: 'Bạn có khôi phục món ăn này không?',
						confirm: 'Yes',
						dismiss: 'No'
					});
				} else {
					alert('Error: Food not found with ID ' + id);
				}
			},
			error: function (xhr, textStatus, errorThrown) {
				alert('Error loading food: ' + errorThrown);
			}
		});
	});
</script>
<script>
	$(document).ready(function () {
		var imageSrc = 'result.imageFood'; // Thay đổi địa chỉ hình ảnh trong imageFood tương ứng
		if (!imageSrc.startsWith("http")) {
			var input = $('#fileupload');
			var file = new File([imageSrc], "image.png", { type: "image/png" }); // Tạo file từ địa chỉ hình ảnh
			input[0].files[0] = file; // Gán file vào input[type=file]
			input.trigger('change'); // Kích hoạt sự kiện "change" để hiển thị hình ảnh đã chọn
		} else {
			$('.modal__food-read #image').attr('src', imageSrc);
		}
	});
</script>
<script>
	function validateForm(event) {
		var newFoodName = $('input[name="Name"]').val().trim().toUpperCase().replace(/\s+/g, ' ');
		var FoodNames = []; // Khởi tạo một mảng rỗng để lưu các tên món ăn

		$('td.Ten_Food_All').each(function () {
			var FoodName = $(this).text().trim().toUpperCase().replace(/\s+/g, ' '); // Lấy nội dung của phần tử td hiện tại và loại bỏ khoảng trắng thừa
			FoodNames.push(FoodName); // Thêm tên món ăn vào mảng
		});

		// Kiểm tra xem tên nguyên liệu mới có trong mảng tên món ăn hay không
		if (FoodNames.some(function (name) { return name === newFoodName })) {
			// Hiển thị thông báo lỗi
			$('#food-error').text('Đã tồn tại tên món ăn. Vui lòng nhập lại !!!');

			// Ngăn chặn việc submit form khi có lỗi
			event.preventDefault();
			return false;
		}
		// Nếu không có lỗi, ẩn thông báo lỗi
		$('#food-error').text('');
	}
</script>
