@page
@model ManageUserModel
@{
	ViewData["Title"] = "ManageUser";
}
<link rel="stylesheet" href="~/css/manage-user.css" asp-append-version="true" />

@{
	int CntCus = 0;
}

<div class="main__information">
	<div class="main__information-detail">
		<div class="d-flex justify-content-between align-items-center mb-5">
			<form class="menu-sort-user" method="get">
				<label style="margin-left: 2%">Sắp xếp theo: </label>
				<select name="sortBy" class="menu-sort-user-box" id="sort-select">
					<option value="all">Sắp xếp</option>
					<option value="name-asc">Tăng theo tên</option>
					<option value="name-desc">Giảm theo tên</option>
				</select>
				<input name="search" value="@Model.searchText" type="hidden" />
				<input type="submit" style="visibility: hidden; width:0" />
			</form>
			<form class="menu-search-user-box" method="get">
				<input class="search-user-box-input" type="text" name="search" placeholder="Nhập tên cần tìm">
				<input class="search-user-box-hidden" name="sortBy" value="@Model.sortBy" type="hidden" />
				<button type="submit" class="search-user-box-btn">
					<i class="fas fa-magnifying-glass"></i>
				</button>
			</form>
		</div>
		<table class="content-table">
			<thead>
				<tr class="tr">
					<th class="STT col-1">STT</th>
					<th class="ID col-2">Mã KH</th>
					<th class="Name col-3">Tên người dùng</th>
					<th class="Email col-3">Email</th>
					<th class="Option__eye col-1">Xem</th>
					<th class="Option__pencil col-1">Sửa</th>
					<th class="Option__ban col-1">Xoá</th>
				</tr>
			</thead>
			<tbody>			
				@foreach (var customer in Model.customers)
				{					
					<tr class="tr">
						<td class="STT">@(++CntCus)</td>
						<td class="ID">@(100 + @customer.CusID)</td>
						<td class="Name">@customer.CusName</td>						
						<td class="Email">@customer.CusEmail</td>
						<td class="Option__eye" data-id="@customer.CusID"> <i class="fas fa-eye"></i></td>
						<td class="Option__pencil" data-id="@customer.CusID"> <i class="fas fa-pencil-alt"></i></td>
						<td class="Option__ban" data-id="@customer.CusID">  <i class="fas fa-ban"></i></td>						
					</tr>
				}				
			</tbody>
		</table>
		<div class="page-pagination">
			<div class="pagination">
				<a href="#"><i class="fas fa-angle-double-left"></i></a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#"><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
	</div>
</div>
<!-- Update staff -->
<form method="post" asp-page="ManageUser">
	<div class="modal__account-update">
		<div class="modal__account-information">
			<div class="button__exit">
				<div class="exit__surround">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="modal__account-details">
				<input name="CusID" type="hidden" />
				<div class="modal__account-label d-flex align-items-center">
					<p class="modal__label-cate">Cập nhật tài khoản</p>
					<p class="modal__label-main" id="name"></p>
				</div>
				<div class="account__name">
					<p class="label">Họ và tên</p>
					<input class="form-control mr-sm-2" type="search" aria-label="Search" name="Name" required="required" readonly="readonly">
				</div>
				<div class="account__position-categories d-flex justify-content-between">
					<div class="account__position col-12">
						<p class="label">Chức vụ</p>
						<div class="form__comboBoxList">
							<form action="dropList" method="post">
								<select name="combobox_Item">									
									<option value="" selected>Khách hàng</option>
									<option value="">Quản trị viên</option>
									<option value="">Nhân viên đầu bếp</option>
									<option value="">Nhân viên giao hàng</option>
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="account__email-telephone d-flex justify-content-between">
					<div class="account__email col-6">
						<p class="label">Địa chỉ email</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="Email" required="required" readonly="readonly">
					</div>
					<div class="account__telephone col-6">
						<p class="label">Số điện thoại</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="Phone" required="required" readonly="readonly">
					</div>
				</div>
				<div class="account__city-district d-flex justify-content-between">
					<div class="account__city-details col-6">
						<p class="label">Tỉnh (thành phố)</p>
						<input class="form-control mr-sm-2" type="search" placeholder="Đà Nẵng" readonly>						
						@*<div class="form-group-start">
							<label class="control-label">Tỉnh(thành phố): </label>
							<div class="form__comboBoxList">
								<form action="dropList" method="post">
									<select name="combobox_Item">
										<option value="" selected>Chọn tỉnh(thành phố)</option>
										<option value="">Hà Nội</option>
										<option value="">Hải Phòng</option>
										<option value="">Quảng Nam</option>
									</select>
								</form>
							</div>
						</div>*@
					</div>
					<div class="account__district-details col-6">
						<p class="label">Quận (huyện)</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="District" required="required" readonly="readonly">
						@*<div class="form__group-district">
							<label class="control-label">Quận(huyện): </label>
							<div class="form__comboBoxList">
								<form action="dropList" method="post">
									<select name="combobox_Item">
										<option value="" selected>Chọn quận(huyện)</option>
										<option value="">Hải Châu</option>
										<option value="">Sơn Trà</option>
										<option value="">Thanh Khê</option>
										<option value="">Ngũ Hành Sơn</option>
									</select>
								</form>
							</div>
						</div>*@
					</div>
				</div>
				<div class="account__ward-address d-flex justify-content-between">
					<div class="account__ward col-6">
						<p class="label">Phường (xã)</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="Ward" required="required" readonly="readonly">
						@*<p class="label">Phường(Xã)</p>
						<div class="form__comboBoxList">
							<form action="dropList" method="post">
								<select name="combobox_Item">
									<option value="" selected>Chọn phường(xã)</option>
									<option value="">Hòa Minh</option>
									<option value="">Hòa Khánh Bắc</option>
									<option value="">Hòa Khánh Nam</option>
								</select>
							</form>
						</div>*@
					</div>
					<div class="account__adress col-6">
						<p class="label">Số nhà</p>
						<input class="form-control mr-sm-2" type="search" aria-label="Search" name="HouseNum" required="required" readonly="readonly">
					</div>
				</div>
				<div class="button__account-save">
					<button class="" type="submit">Cập nhật thông tin tài khoản</button>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- End Update staff -->
<!-- Full Information -->
<form method="post" asp-page="ManageUser">
	<div class="modal__info-full">
		<div class="modal__info-details">
			<div class="button__exit d-flex justify-content-end">
				<div class="exit__surround">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="modal__staff-details">
				<p class="modal__label-main">
					<input name="CusID" type="hidden" />
					<div class="modal__staff-label d-flex align-items-center">
						<p class="modal__label-cate">Chi tiết tài khoản</p>
						<p class="modal__label-main" id="name"></p>
					</div>
				</p>
				<div class="staff__info-full d-flex">
					<div class="staff__info-key col-3">
						<p class="categories__text" for="id">Mã người dùng:</p>
						<p class="categories__text" for="name">Họ và tên:</p>
						<p class="categories__text" for="gender">Giới tính:</p>
						<p class="categories__text" for="phone">Số điện thoại:</p>
						<p class="categories__text" for="email">Email:</p>
						<p class="categories__text" for="address">Địa chỉ:</p>
					</div>
					<div class="staff__info-value col-9">
						<p class="categories__text" id="id"></p>
						<p class="categories__text" id="name"></p>
						<p class="categories__text" id="gender"></p>
						<p class="categories__text" id="phone"></p>
						<p class="categories__text" id="email"></p>
						<p class="categories__text" id="address"></p>
					</div>
				</div>
				@*<button class="submit-btn exit-btn" type="submit">OK</button>*@
			</div>			
		</div>
	</div>
</form>
<script src="~/js/manage-user.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.Option__eye').on('click', function() {
			var id = $(this).data('id');
			$.ajax({
				type: 'GET',
				data: {id: id},
				url: '@Url.Page("ManageUser", "Find")',
				success: function (result) {					
					$('.modal__info-full #id').text(result.id + 100);
					$('.modal__info-full #name').text(result.name);
					$('.modal__info-full #gender').text(result.gender ? "Nam" : "Nữ");					
					$('.modal__info-full #phone').text(result.phone);
					$('.modal__info-full #email').text(result.email);
					$('.modal__info-full #address').text(result.address);
				},
				error: function (xhr, textStatus, errorThrown) {
					alert('Error loading ingredient: ' + errorThrown);
				}
			});
		});

		$('.Option__pencil').on('click', function () {
			var id = $(this).data('id');
			$.ajax({
				type: 'GET',
				data: { id: id },
				url: '@Url.Page("ManageUser", "Find")',
				success: function (result) {					
					$('.modal__account-update #name').text(result.name);
					$('.modal__account-update input[name="Name"]').val(result.name);
					$('.modal__account-update input[name="Email"]').val(result.email);
					$('.modal__account-update input[name="Phone"]').val(result.phone);
					$('.modal__account-update input[name="District"]').val(result.diss);
					$('.modal__account-update input[name="Ward"]').val(result.wrdd);
					$('.modal__account-update input[name="HouseNum"]').val(result.housenum);
				},
				error: function (xhr, textStatus, errorThrown) {
					alert('Error loading ingredient: ' + errorThrown);
				}
			});
		});
	});
</script>
<!-- End Full Information -->
