@page
@model ManageImportOrderModel
@{
	ViewData["Title"] = "ManageImportOrder";
}
<link rel="stylesheet" href="~/css/manage-order.css" asp-append-version="true" />


<div class="main__table main-table-order" st>
	<div class="main__information-add d-flex justify-content-end align-items-center">
		<div class="button__add">
			<form action="~/Admin/ImportOrderProc">
				<button type="submit">Thêm đơn nhập +</button>
			</form>
		</div>
	</div>
	<div class="main__information row align-items-end">
		<div class="time-start col-md-2 pl-0">
			<p class="label">Thời gian:</p>
			<div class="form-group d-flex align-items-center mb-0">
				<label class="control-label control-label-edit">Từ: </label>
				<form action="action_page.php">
					<input type="date" name="bday">
				</form>
			</div>
		</div>
		<div class="time-end col-md-3">
			<p class="label"></p>
			<div class="form-group d-flex align-items-center mb-0">
				<label class="control-label control-label-edit">Đến: </label>
				<form action="action_page.php">
					<input type="date" name="bday">
				</form>
			</div>
		</div>
		<div class="col-md-7 d-flex justify-content-end align-items-center pr-0">
			<form class="menu-search-staff-box" method="get" style="width: 60%">
				<input class="search-staff-box-input" type="text" name="search" placeholder="Nhập tên nhà cung cấp">
				<input class="search-staff-box-hidden" name="sortBy" value="" type="hidden" />
				<input class="search-staff-box-hidden" name="roleBy" value="" type="hidden" />
				<button type="submit" class="search-staff-box-btn">
					<i class="fas fa-magnifying-glass"></i>
				</button>
			</form>
		</div>
	</div>
	@{
		var pageSize = 5; // Number of rows to show per page
		var totalPages = (int)Math.Ceiling((double)Model.imports.Count / pageSize); // Calculate the total number of pages
		var startIndex = (Model.currentPage - 1) * pageSize; // Calculate the start index of the rows to display
		var foods = Model.imports.Skip(startIndex).Take(pageSize).ToList(); // Get the rows to display on the current page
		if (Model.currentPage < 1) Model.currentPage = 1;
		if (Model.currentPage > totalPages) Model.currentPage = totalPages;
	}
	<!-- Table -->
	<table class="content-table">
		<thead>
			<tr>
				<th>Mã đơn hàng</th>
				<th class="Name">Tên nhà cung cấp</th>
				<th>Ngày nhập</th>
				<th>Tổng tiền</th>
				<th class="cart__table-col col-2" scope="col">Xem</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var i in Model.imports)
			{
				<tr>
					<td><a asp-page="/Order/DetailOrder" asp-route-orderId="@i.ImportOrderID" class="IDOrder">@i.ImportOrderID</a></td>
					<td style="text-align: left !important;"><a class="Name">@i.PartnerName</a></td>
					<td>@i.DateIO.ToString("HH:mm dd/MM/yyyy")</td>
					<td>@(i.TMoneyIO.ToString("N0"))đ</td>
					<td>
						<a class="cart__name-item" asp-page="/Admin/ImportOrderDetail" asp-route-orderId="@i.ImportOrderID">
							<i class="fas fa-eye"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	 @{
            var pagingmodel = new CheeseBurger.Helpers.PagingModel()
            {
                currentPage = Model.currentPage,
                countPages = totalPages,
                //generateUrl = (int? p) => Url.Page("/Admin/ManageFood", new { p, Model.searchText, Model.sortBy, Model.roleBy  })
            };
        }
        <partial name="_Paging" model="@pagingmodel" />
	<!-- End Table -->
</div>
