@page
@model ManageUserModel
@{
	ViewData["Title"] = "ManageUser";
}
<link rel="stylesheet" href="~/css/manage-user.css" asp-append-version="true" />

@{
	int CntCus = 0;
}

<div class="main__information">
	<div class="main__information-detail">
		<div class="main__table-form">
			<div class="col-md-6 pl-0">
				<div class="form-group d-flex">
					<label class="control-label">Sắp xếp: </label>
					<div class="form__comboBox cbb_sort">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tất cả</option>
								<option value="">Tên từ A-Z</option>
								<option value="">Tên từ Z-A</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 pr-0 mr-0 d-flex justify-content-end">
				<div class="form-group">
					<div class="search__form">
						<form class="form-inline my-2 my-lg-0">
							<div class="input-wrapper">
								<input class="form-control" type="search" placeholder="Nhập tên người dùng" aria-label="Search">
								<i class="fas fa-search"></i>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<table class="content-table">
			<thead>
				<tr class="tr">
					<th class="STT col-1">STT</th>
					<th class="ID col-2">Mã KH</th>
					<th class="Name col-3">Tên người dùng</th>
					<th class="Email col-3">Email</th>
					<th class="Option__eye col-1">Xem</th>
					<th class="Option__pencil col-1">Sửa</th>
					<th class="Option__ban col-1">Xoá</th>
				</tr>
			</thead>
			<tbody>			
				@foreach (var customer in Model.Customers)
				{					
					<tr class="tr">
						<td class="STT">@(++CntCus)</td>
						<td class="ID">@(100 + @customer.CustomerID)</td>
						<td class="Name">@customer.CustomerName</td>
						@{
							var id = customer.AccountID;
							var cus = Model.Accounts.Single(p => p.AccountID == id);
							var email = cus.Email;
						}
						<td class="Email">@email</td>
						<td class="Option__eye"> <i class="fas fa-eye"></i></td>
						<td class="Option__pencil"> <i class="fas fa-pencil-alt"></i></td>
						<td class="Option__ban">  <i class="fas fa-ban"></i></td>
						<input type="hidden" name="id" id="id"/>
					</tr>
				}				
			</tbody>
		</table>
		<div class="page-pagination">
			<div class="pagination">
				<a href="#"><i class="fas fa-angle-double-left"></i></a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#"><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
	</div>
</div>
<!-- Update staff -->
<div class="modal__account-update">
	<div class="modal__account-information">
		<div class="button__exit">
			<div class="exit__surround">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="modal__account-details">
			<div class="modal__account-label d-flex align-items-center">
				<p class="modal__label-cate">Cập nhật tài khoản</p>
				<p class="modal__label-main"></p>
			</div>
			<div class="account__name">
				<p class="label">Họ và tên</p>
				<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
			</div>
			<div class="account__position-categories d-flex justify-content-between">
				<div class="account__position col-12">
					<p class="label">Chức vụ</p>
					<div class="form__comboBoxList">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected></option>
								<option value="">Khách hàng</option>
								<option value="">Quản lý</option>
								<option value="">Nhân viên</option>
							</select>
						</form>
					</div>
				</div>				
			</div>
			<div class="account__email-telephone d-flex justify-content-between">
				<div class="account__email col-6">
					<p class="label">Địa chỉ email</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
				</div>
				<div class="account__telephone col-6">
					<p class="label">Số điện thoại</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
				</div>
			</div>
			<div class="account__city-district d-flex justify-content-between">
				<div class="account__city-details col-6">
					<div class="form-group-start">
						<label class="control-label">Tỉnh(thành phố): </label>
						<div class="form__comboBoxList">
							<form action="dropList" method="post">
								<select name="combobox_Item">
									<option value="" selected>Chọn tỉnh(thành phố)</option>
									<option value="">Hà Nội</option>
									<option value="">Hải Phòng</option>
									<option value="">Quảng Nam</option>
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="account__district-details col-6">
					<div class="form__group-district">
						<label class="control-label">Quận(huyện): </label>
						<div class="form__comboBoxList">
							<form action="dropList" method="post">
								<select name="combobox_Item">
									<option value="" selected>Chọn quận(huyện)</option>
									<option value="">Hải Châu</option>
									<option value="">Sơn Trà</option>
									<option value="">Thanh Khê</option>
									<option value="">Ngũ Hành Sơn</option>
								</select>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="account__ward-address d-flex justify-content-between">
				<div class="account__ward col-6">
					<p class="label">Phường(Xã)</p>
					<div class="form__comboBoxList">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Chọn phường(xã)</option>
								<option value="">Hòa Minh</option>
								<option value="">Hòa Khánh Bắc</option>
								<option value="">Hòa Khánh Nam</option>
							</select>
						</form>
					</div>
				</div>
				<div class="account__adress col-6">
					<p class="label">Số nhà</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
				</div>
			</div>
			<div class="button__account-save">
				<button class="" type="submit">Cập nhật thông tin tài khoản</button>
			</div>
		</div>
	</div>
</div>
<!-- End Update staff -->
<!-- Full Information -->
<div class="modal__info-full">
	<div class="modal__info-details">
		<div class="button__exit d-flex justify-content-end">
			<div class="exit__surround">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<form method="post" asp-page="ManageUser" asp-page-handler="Detail">
			<div class="modal__staff-details">
				<p class="modal__label-main">
					<div class="modal__staff-label d-flex align-items-center">
						<p class="modal__label-cate">Chi tiết tài khoản</p>
						<p class="modal__label-main"></p>
					</div>
				</p>
				<div class="staff__info-full d-flex">
					<div class="staff__info-key col-3">
						<p>Mã người dùng:</p>
						<p>Họ và tên:</p>
						<p>Giới tính:</p>
						<p>Số điện thoại:</p>
						<p>Email:</p>
						@*<p>Địa chỉ:</p>*@
					</div>
					<div class="staff__info-value col-9">
						<p type="text" name="iduser" id="iduser"></p>
						<p type="text" name="nameuser" id="nameuser"></p>
						<p type="text" name="genderuser" id="genderuser"></p>
						<p type="text" name="phoneuser" id="phoneuser"></p>
						<p type="text" name="emailuser" id="emailuser"></p>
						@*<p name="iduser" id="iduser"></p>*@
					</div>
				</div>
				<button class="submit-btn btn-save" type="submit">Thay đổi thông tin tài khoản</button>
				<input type="hidden" name="id" id="id" />
			</div>
		</form>
	</div>
</div>
<script src="~/js/manage-user.js"></script>
<script type="text/javascript">
	$(document).ready(funtion() {
		$('table .Option__eye').on('click', funtion() {
			var id = $(this).parent().find('#id').val();
			$.ajax({
				type: 'GET',
				data: {id: id},
				url: '@Url.Page("ManageUser", "Find")',
				success: function (result) {
					$('#modal__info-full #id').val(result.id);
					$('#modal__info-full #nameuser').val(result.nameuser);
					$('#modal__info-full #genderuser').val(result.genderuser);
					$('#modal__info-full #phoneuser').val(result.phoneuser);
					$('#modal__info-full #emailuser').val(result.emailuser);
				}

			})
		});
	});
</script>
<!-- End Full Information -->
