@page
@model CartModel
@{
	ViewData["Title"] = "Cart";
}

<div class="breadcrumb-division">
	<ol class="breadcrumb breadcrumb__edit">
		<li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>
		<li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
	</ol>
</div>

<div class="list-item cart">
	<table class="table text-center">
		<thead style="background-color: var(--div-color)">
			<tr class="table-header">
				<th class="cart__table-col col-1" scope="col">STT</th>
				<th class="cart__table-col col-4" scope="col">Sản phẩm</th>
				<th class="cart__table-col col-2" scope="col">Đơn giá</th>
				<th class="cart__table-col col-2" scope="col">Số lượng</th>
				<th class="cart__table-col col-2" scope="col">Thành tiền</th>
				<th class="cart__table-col col-1" scope="col">Xoá</th>
			</tr>
		</thead>
		<tbody>
			@{
				var count = 1;
				@foreach (var i in Model.carts)
				{
					<tr>
						<th scope="row" style="font-weight: 500;">@count</th>
						<td class="d-flex align-items-center">
							<img src=@i.FoodPic alt="Ảnh món ăn" class="cart__item-image" />
							<a asp-page="/User/DetailFood" asp-route-id="@i.FoodId" class="cart__name-item">@i.Name</a>
						</td>
						<td>@i.Price.ToString("N0")đ</td>
						<td>
							<form class="input-group" method="post">
								<div class="minus minus-plus-button">-</div>
								<input type="text" value="@i.Quantity" class="input-field"
							   	onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 08" name="quantity">
								<div class="plus minus-plus-button">+</div>
								<input type="hidden" value="@i.FoodId" name="foodId" />
								<input type="hidden" value="@i.MaxQty" name="maxQty" />
								<input type="submit" style="width: 0; height: 0; display: none" />
							</form>
							<span class="error-message" style="color: red"></span>
						</td>
						<td style="font-weight: 500">@((i.Quantity * i.Price).ToString("N0"))đ</td>
						<td>
							<form method="post" asp-page-handler="RemoveCart">
								<input type="hidden" name="foodId" value="@i.FoodId">
								<button type="submit" class="icon-btn">
									<i class="fa-solid fa-trash-can"></i>
								</button>
							</form>
						</td>
					</tr>
					count++;
				}
			}

		</tbody>
	</table>
</div>

<div class="row d-flex justify-content-end cart">
	<div class="fee-division col-5">
		<span class="fee-detail__item">Tổng đơn</span>
		<div class="total-fee-list">
				<div class="fee-detail">
					<div class="fee-detail__item">
						<span>Tổng tiền hàng</span><span>@Model.totalMoney.ToString("N0")đ</span>
					</div>
					<div class="fee-detail__item">
						<span>Thuế</span><span>3%</span>
					</div>
				</div>
				<div class="fee-detail">
					<div class="fee-detail__item" style="font-weight: 500;">
						<span>Tổng thanh toán</span><span>@((Model.totalMoney + Model.totalMoney * 3 / 100).ToString("N0"))đ</span>
					</div>
				</div>
		</div>
		<button class="submit-btn" onclick="window.location.href = 'https://localhost:44344/User/Payment';">Mua Hàng</button>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/cart.js"></script>