@page
@model MenuModel
@{
	ViewData["Title"] = "Menu";
	ViewBag.Name = HttpContext.Session.GetString("Name");
	ViewBag.Id = HttpContext.Session.GetInt32("Id");
}
<div class="breadcrumb-division">
	<ol class="breadcrumb breadcrumb__edit">
		<li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>
		<li class="breadcrumb-item active" aria-current="page">Thực đơn</li>
	</ol>
</div>
<div class="row jtf-center menu">
	<div class="col-3">
		<form class="filter-menu">
			<p>Danh mục sản phẩm</p>
			<a asp-page="/user/menu" asp-route-price=@Model.priceRange asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="category-filter-name" id="cate-all">Tất cả</a>
			@foreach (var i in Model.categories)
			{
				<a asp-page="/user/menu" asp-route-category=@i.CategoryID asp-route-price=@Model.priceRange asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="category-filter-name" id="cate-@i.CategoryID">@i.CategoryName</a>
			}

		</form>

		<form class="filter-menu">
			<p>Mức giá</p>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-all">Tất cả</a>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-price=1 asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-1">Từ 0 - 20,000đ</a>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-price=2 asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-2">Từ 20,000 - 50,000đ</a>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-price=3 asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-3">Từ 50,000 - 70,000đ</a>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-price=4 asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-4">Từ 70,000 - 100,000đ</a>
		</form>
	</div>
	<div class="col-9 ">
		<div class="d-flex justify-content-between align-items-center mb-5">
			<form class="menu-sort" method="get">
				<label class="">Sắp xếp theo: </label>
				<select name="sortBy" class="menu-sort-box">
					<option value="all">Sắp xếp</option>
					<option value="price-asc">Tăng theo giá</option>
					<option value="price-desc">Giảm theo giá</option>
					<option value="name-asc">Tăng theo tên</option>
					<option value="name-desc">Giảm theo tên</option>
				</select>
				<input name="category" value="@Model.categoryID" type="hidden" />
				<input name="price" value="@Model.priceRange" type="hidden" />
				<input name="search" value="@Model.searchText" type="hidden" />
				<input type="submit" style="visibility: hidden; width:0" />
			</form>
			<form class="menu-search-box" method="get">
				<input class="search-box-input" type="text" name="search" placeholder="Nhập món ăn cần tìm">
				<input class="search-box-hidden" name="category" value="@Model.categoryID" type="hidden" />
				<input class="search-box-hidden" name="price" value="@Model.priceRange" type="hidden" />
				<input class="search-box-hidden" name="sortBy" value="@Model.sortBy" type="hidden" />
				<button type="submit" class="search-box-btn">
					<i class="fas fa-magnifying-glass"></i>
				</button>
			</form>

		</div>

		@if (@Model.Message != null)
		{
			<div class="alert alert-danger" role="alert">
				<strong>@Model.Message</strong>
			</div>
		}

		<div class=" card-deck list-card-item d-flex flex-wrap">
			@foreach (var i in Model.foods)
			{
				<div class="card-edit">
					<img class="card-img-top card-img-edit" src=@i.ImgFood alt="">
					<form class="card-body" method="post">
						<div class="card-detail">
							<a asp-page="/User/DetailFood" class="card-tittle">@i.NameFood</a>
							<p class="card-sub">@i.PriceFood.ToString("N0")đ</p>
						</div>
						<input type="hidden" name="cartProductID" value="@i.IDFood" />
						<button type="submit" class="submit-btn card-btn"><i class="fas fa-cart-shopping"></i>Thêm vào giỏ hàng</button>
					</form>
				</div>
			}
		</div>
		<div class="page-pagination">
			<div class="pagination">
				<a href="#"><i class="fas fa-angle-double-left"></i></a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#"><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
	</div>
</div>

<script src="~/js/menu.js"></script>