@page
@model MenuModel
@{
	ViewData["Title"] = "Menu";
}

<div class="breadcrumb-division">
	<ol class="breadcrumb breadcrumb__edit">
		<li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>
		<li class="breadcrumb-item active" aria-current="page">Thực đơn</li>
	</ol>
</div>
<div class="row jtf-center menu">
	<div class="col-3">
		<form class="filter-menu">
			<p>Danh mục sản phẩm</p>
			<a asp-page="/user/menu" asp-route-price=@Model.priceRange asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="category-filter-name" id="cate-all">Tất cả</a>
			@foreach (var i in Model.categories)
			{
				<a asp-page="/user/menu" asp-route-category=@i.CategoryID asp-route-price=@Model.priceRange asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="category-filter-name" id="cate-@i.CategoryID">@i.CategoryName</a>
			}
		</form>

		<form class="filter-menu">
			<p>Mức giá</p>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-all">Tất cả</a>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-price=1 asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-1">Từ 0 - 20,000đ</a>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-price=2 asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-2">Từ 20,000 - 50,000đ</a>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-price=3 asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-3">Từ 50,000 - 70,000đ</a>
			<a asp-page="/user/menu" asp-route-category=@Model.categoryID asp-route-price=4 asp-route-sortBy=@Model.sortBy asp-route-search=@Model.searchText class="cost-filter-name" id="price-4">Từ 70,000 - 100,000đ</a>
		</form>
	</div>
	<div class="col-9 ">
		<div class="d-flex justify-content-between align-items-center mb-5">
			<form class="menu-sort" method="get">
				<label class="">Sắp xếp theo: </label>
				<select name="sortBy" class="menu-sort-box">
					<option value="all">Sắp xếp</option>
					<option value="price-asc">Tăng theo giá</option>
					<option value="price-desc">Giảm theo giá</option>
					<option value="name-asc">Tăng theo tên</option>
					<option value="name-desc">Giảm theo tên</option>
				</select>
				<input name="category" value="@Model.categoryID" type="hidden" />
				<input name="price" value="@Model.priceRange" type="hidden" />
				<input name="search" value="@Model.searchText" type="hidden" />
				<input type="submit" style="visibility: hidden; width:0" />
			</form>
			<form class="menu-search-box" method="get">
				<input class="search-box-input" type="text" name="search" placeholder="Nhập món ăn cần tìm">
				<input class="search-box-hidden" name="category" value="@Model.categoryID" type="hidden" />
				<input class="search-box-hidden" name="price" value="@Model.priceRange" type="hidden" />
				<input class="search-box-hidden" name="sortBy" value="@Model.sortBy" type="hidden" />
				<button type="submit" class="search-box-btn">
					<i class="fas fa-magnifying-glass"></i>
				</button>
			</form>

		</div>
		@{
			var pageSize = 6; // Number of rows to show per page
			var totalPages = (int)Math.Ceiling((double)Model.foods.Count / pageSize); // Calculate the total number of pages
			var startIndex = (Model.currentPage - 1) * pageSize; // Calculate the start index of the rows to display
			var foods = Model.foods.Skip(startIndex).Take(pageSize).ToList(); // Get the rows to display on the current page
			if (Model.currentPage < 1) Model.currentPage = 1;
			if (Model.currentPage > totalPages) Model.currentPage = totalPages;
		}

		@if (@Model.Message != null)
		{
			<div class="alert alert-danger" role="alert">
				<strong>@Model.Message</strong>
			</div>
		}
		@if (Model.ProductInfo == "Thanhcong")
		{
			<!-- Success Alert -->
			<div class="alert alert-success alert-menu-edit alert-dismissible d-flex align-items-center fade show">
				<i class="bi-check-circle-fill"></i>
				<strong class="mx-1 mr-4">Thành công!</strong> Đã thêm sản phẩm vào giỏ hàng!
				<button type="button" class="btn-close"><i class="fa-solid fa-xmark"></i></button>
			</div>
		}
		else if (Model.ProductInfo != null)
		{
			<!-- Failed Alert -->
			<div class="alert alert-danger alert-menu-edit alert-dismissible d-flex align-items-center fade show">
				<i class="fa-solid fa-circle-xmark" style="color: red"></i>
				<strong class="mx-1 mr-4">Thất bại!</strong> @Model.ProductInfo
				<button type="button" class="btn-close"><i class="fa-solid fa-xmark"></i></button>
			</div>
		}
		<div class=" card-deck list-card-item d-flex flex-wrap">
			@foreach (var i in foods)
			{
				<div class="card-edit">
					<a asp-page="/User/DetailFood" asp-route-id="@i.IDFood"><img class="card-img-top card-img-edit" src=@i.ImgFood alt="ảnh" /></a>
					<form class="card-body" method="post">
						<div class="card-detail">
							<a asp-page="/User/DetailFood" asp-route-id="@i.IDFood" class="card-tittle">@i.NameFood</a>
							<p class="card-sub">@i.PriceFood.ToString("N0")đ</p>
						</div>

						@{
							<div class="rating-infor d-flex">
								@{
									var totalRating = i.TotalRating != null ? float.Parse(i.TotalRating) : 0;
									<div class="stars-outer stars-outer-menu">
										<div class="stars-inner stars-inner-menu"></div>
										<input type="hidden" value="@totalRating">
									</div>
									<span class="numbersof-rating">(@totalRating)</span>
								}
							</div>
						}
						<input type="hidden" name="cartProductID" value="@i.IDFood" />
						@if(i.isStocking)
						{
							<button type="submit" class="submit-btn card-btn"><i class="fas fa-cart-shopping"></i>Thêm vào giỏ hàng</button>
						}
						else
						{
							<button class="submit-btn card-btn grey-btn"><i class="fas fa-cart-shopping"></i>Hết hàng</button>
						}
					</form>
				</div>
			}
		</div>
		@{
			var pagingmodel = new CheeseBurger.Helpers.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = totalPages,
				generateUrl = (int? p) => Url.Page("/User/Menu", new { p, Model.sortBy, Model.searchText, Model.categoryID, Model.priceRange })
			};
		}
		<partial name="_Paging" model="@pagingmodel" />
	</div>
</div>


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/menu.js"></script>