@page
@model MyOrderModel
@{
	ViewData["Title"] = "My Order";
}

<div class="breadcrumb-division">
	<ol class="breadcrumb breadcrumb__edit">
		<li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>
		<li class="breadcrumb-item active" aria-current="page">Đơn hàng của tôi</li>
	</ol>
</div>
<div class="body container">
	<div class="row justify-content-between" style="margin-top: 60px;">
		<ul class="body__side-bar body__side-bar-order">
			<li class="body__side-bar-item-or" id="status-all">
				<a class="body__side-bar-item" asp-page="/User/MyOrder">Tất cả</a>
				<span>(@Model.orderCount[0])</span>
			</li>
			<li class="body__side-bar-item-or" id="status-1">
				<a class="body__side-bar-item" asp-route-status="@((int)Enums.OrderStatus.waiting)">Chờ xác nhận</a>
				<span>(@Model.orderCount[1])</span>
			</li>
			<li class="body__side-bar-item-or" id="status-2">
				<a class="body__side-bar-item" asp-route-status="@((int)Enums.OrderStatus.preparing)">Chuẩn bị hàng</a>
				<span>(@Model.orderCount[2])</span>
			</li>
			<li class="body__side-bar-item-or" id="status-3">
				<a class="body__side-bar-item" asp-route-status="@((int)Enums.OrderStatus.prepareDone)">Chờ giao</a>
				<span>(@Model.orderCount[3])</span>
			</li>
			<li class="body__side-bar-item-or" id="status-4">
				<a class="body__side-bar-item" asp-route-status="@((int)Enums.OrderStatus.shipping)">Đang giao</a>
				<span>(@Model.orderCount[4])</span>
			</li>
			<li class="body__side-bar-item-or" id="status-5">
				<a class="body__side-bar-item" asp-route-status="@((int)Enums.OrderStatus.completed)">Đã giao</a>
				<span>(@Model.orderCount[5])</span>
			</li>
			<li class="body__side-bar-item-or" id="status-7">
				<a class="body__side-bar-item" asp-route-status="@((int)Enums.OrderStatus.canceled)">Đã huỷ</a>
				<span>(@Model.orderCount[7])</span>
			</li>
		</ul>

		<div class="col pr-0 justify-content-between">
			@if (Model.items.Count == 0)
			{
				<div class="no-order">
					<img src="~/img/no-order.PNG" class="no-order-img">
					<p class="no-order-text">Bạn chưa có đơn hàng nào </p>
				</div>
			}
			else
			{
				var pageSize = 6; // Number of rows to show per page
				var totalPages = (int)Math.Ceiling((double)Model.items.Count / pageSize); // Calculate the total number of pages
				var startIndex = (Model.currentPage - 1) * pageSize; // Calculate the start index of the rows to display
				var item = Model.items.Skip(startIndex).Take(pageSize).ToList(); // Get the rows to display on the current page
				if (Model.currentPage < 1) Model.currentPage = 1;
				if (Model.currentPage > totalPages) Model.currentPage = totalPages;
				<div class="list-item my-order">
					<table class="table text-center">
						<thead style="background-color: var(--div-color);height: 50px;">
							<tr class="table-header">
								<th class="cart__table-col col-1" scope="col">Mã</th>
								<th class="cart__table-col col-2" scope="col">Người nhận</th>
								<th class="cart__table-col col-2" scope="col">Thời gian đặt</th>
								<th class="cart__table-col col-2" scope="col">Địa chỉ</th>
								<th class="cart__table-col col-2" scope="col">Tổng tiền</th>
								<th class="cart__table-col col-2" scope="col">Trạng thái</th>
								<th class="cart__table-col col-2" scope="col">Xem</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var i in Model.items)
							{
								<tr class="tr-ctn">
									<td>
										<a class="cart__name-item" asp-page="/User/DetailOrderWait" asp-route-orderId="@i.orderId">@i.orderId</a>
									</td>
									<td style="text-align: left;">@i.customerName</td>
									<td>@i.createDate.ToString("HH:mm dd/MM/yyyy")</td>
									<td style="text-align:left">@i.houseNumber</td>
									<td class="table-money" style="font-weight: 500; color: var(--admin-color);">@((i.tempMoney * 103 / 100 + i.shippingMoney).ToString("N0"))đ</td>
									<td>
										<div class="btn-xacnhan btn-xacnhan-edit">
											@Enums.EnumExtensions.GetDisplayName((Enums.OrderStatus)i.statusOrder)
										</div>
									</td>
									<td>
										<a class="cart__name-item" asp-page="/User/DetailOrderWait" asp-route-orderId="@i.orderId">
											<i class="fas fa-eye"></i>
										</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				var pagingmodel = new CheeseBurger.Helpers.PagingModel()
				{
					currentPage = Model.currentPage,
					countPages = totalPages,
					generateUrl = (int? p) => Url.Page("/User/Menu", new { p })
				};
				
				<partial name="_Paging" model="pagingmodel" />
			}
		</div>
	</div>
</div>
<script src="/js/my-order.js"></script>