@page
@model ManageExportOrderModel
@{
	ViewData["Title"] = "ManageExportOrder";
}
<link rel="stylesheet" href="~/css/manage-order.css" asp-append-version="true" />

<div class="main__table main-table-order">
	<div class="main__table-status">
		<ul class="main__status">
			<li class="main__status-details">
				<a asp-page="/Admin/ManageExport/ManageExportOrder" class="btn__status" id="status-all">Tất cả (@Model.orderCount[0])</a>
			</li>
			<li class="main__status-details">
				<a class="btn__status" asp-route-status="@((int)Enums.OrderStatus.waiting)" id="status-1">Chờ xác nhận (@Model.orderCount[1])</a>
			</li>
			<li class="main__status-details">
				<a class="btn__status" asp-route-status="@((int)Enums.OrderStatus.preparing)" id="status-2">Chuẩn bị hàng (@Model.orderCount[2])</a>
			</li>
			<li class="main__status-details">
				<a class="btn__status" asp-route-status="@((int)Enums.OrderStatus.prepareDone)" id="status-3">Chờ giao (@Model.orderCount[3])</a>
			</li>
			<li class="main__status-details">
				<a class="btn__status" asp-route-status="@((int)Enums.OrderStatus.shipping)" id="status-4">Đang giao (@Model.orderCount[4])</a>
			</li>
			<li class="main__status-details">
				<a class="btn__status" asp-route-status="@((int)Enums.OrderStatus.completed)" id="status-5">Đã giao (@Model.orderCount[5])</a>
			</li>
			<li class="main__status-details">
				<a class="btn__status" asp-route-status="@((int)Enums.OrderStatus.canceled)" id="status-7">Đã hủy (@Model.orderCount[7])</a>
			<li class="main__status-details btn-not-success">
				<a class="btn__status" asp-route-status="@((int)Enums.OrderStatus.closed)" id="status-6">Không thành công (@Model.orderCount[6])</a>
			</li>
		</ul>
	</div>
	<div class="main__information row align-items-end">
		<div class="time-start col-md-2 pl-0">
			<p class="label">Thời gian:</p>
			<div class="form-group d-flex align-items-center mb-0">
				<label class="control-label control-label-edit">Từ: </label>
				<form action="action_page.php">
					<input type="date" placeholder="dd-MM-yyyy" name="bday" onchange="submitForm()">
					<input type="hidden" name="search" value="@Model.searchText"/>
				</form>
			</div>
		</div>
		<div class="time-end col-md-3">
			<p class="label"></p>
			<div class="form-group d-flex align-items-center mb-0">
				<label class="control-label control-label-edit">Đến: </label>
				<form action="action_page.php">
					<input type="date" placeholder="dd-MM-yyyy" name="eday" onchange="submitForm()">
					<input type="hidden" name="search" value="@Model.searchText" />
				</form>
			</div>
		</div>
		<div class="col-md-7 d-flex justify-content-end align-items-center pr-0">
			<form class="menu-search-staff-box" method="get" style="width: 60%">
				<input class="search-staff-box-input" type="text" name="search" placeholder="Nhập tên khách hàng">
				<input class="search-staff-box-hidden" name="fromDate" value="@Model.timeStart.ToString("yyyy-MM-dd")" type="hidden" />
				<input class="search-staff-box-hidden" name="toDate" value="@Model.timeEnd.ToString("yyyy-MM-dd")" type="hidden" />
				<button type="submit" class="search-staff-box-btn">
					<i class="fas fa-magnifying-glass"></i>
				</button>
			</form>
		</div>
	</div>
	@{
		var pageSize = 5; // Number of rows to show per page
		var totalPages = (int)Math.Ceiling((double)Model.items.Count / pageSize); // Calculate the total number of pages
		var startIndex = (Model.currentPage - 1) * pageSize; // Calculate the start index of the rows to display
		var items = Model.items.Skip(startIndex).Take(pageSize).ToList(); // Get the rows to display on the current page
		if (Model.currentPage < 1) Model.currentPage = 1;
		if (Model.currentPage > totalPages) Model.currentPage = totalPages;
	}
	<!-- Table -->
	<table class="content-table">
		<thead>
			<tr>
				<th>Mã đơn hàng</th>
				<th class="Name">Tên người mua</th>
				<th>Ngày đặt hàng</th>
				<th>Trạng thái</th>
				<th>Tổng tiền</th>
				<th class="cart__table-col col-2" scope="col">Xem</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var i in items)
			{
				<tr>
					<td><a asp-page="/Order/DetailOrder" asp-route-orderId="@i.orderId" class="IDOrder">@i.orderId</a></td>
					<td style="text-align: left !important;"><a class="Name">@i.customerName</a></td>
					<td>@i.createDate.ToString("HH:mm dd/MM/yyyy")</td>
					<td>
						<div class="Status">
							@Enums.EnumExtensions.GetDisplayName((Enums.OrderStatus)i.statusOrder)
						</div>
					</td>
					<td>@((i.tempMoney * 103 / 100 + i.shippingMoney).ToString("N0"))đ</td>
					<td>
						<a class="cart__name-item" asp-page="/Admin/ManageExport/DetailExportOrder" asp-route-orderId="@i.orderId">
							<i class="fas fa-eye"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	@{
		var pagingmodel = new CheeseBurger.Helpers.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = totalPages,
				generateUrl = (int? p) => Url.Page("/Admin/ManageExport/ManageExportOrder", new { p, search = Model.searchText, Model.timeStart, Model.timeEnd})
			};
	}
	<partial name="_Paging" model="@pagingmodel" />
	<!-- End Table -->
</div>

<script src="~/js/manage-order.js"></script>
<script>
	const fromDate = document.querySelector('input[name="bday"]');
	const toDate = document.querySelector('input[name="eday"]');
	const searchInput = document.querySelector('.search-staff-box-input');

	var urlParams = new URLSearchParams(window.location.search);
	var submittedFromDateValue = urlParams.get("fromDate");
	var submittedToDateValue = urlParams.get("toDate");

	fromDate.value = submittedFromDateValue;
	toDate.value = submittedToDateValue;
	searchInput.value = urlParams.get("search");

	function submitForm() {
		const fromDateInput = document.querySelector('input[name="bday"]');
		const toDateInput = document.querySelector('input[name="eday"]');

		const fromDateValue = fromDateInput.value;
		const toDateValue = toDateInput.value;

		if (fromDateValue && toDateValue) {
			// Tạo URL mới với các tham số fromDate và toDate
			const url = new URL(window.location.href);
			url.searchParams.set("fromDate", fromDateValue);
			url.searchParams.set("toDate", toDateValue);

			// Chuyển hướng trình duyệt đến URL mới
			window.location.href = url.toString();
		}
	}
</script>